.consultaCidadeGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.consultaCidadeGrid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
