.blockDisplayGridContainer{
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
}

.blockDisplayTitleContainer{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    border-bottom: 1px double rgba(250, 166, 166, 0.125);
}

.blockDisplayCardContainer{
    margin: 10px;
    border: 1px solid rgba(0,0,0,.2);
}
