.consultaProfessorGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.consultaProfessorGrid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
